/*  your css code here. If applicable */
.book-library{
	background-color:#f8f8f8;
	text-align:center;
}
h2{
	text-align:left;
}

.price{
	color:white;
	background-color:#2ecc71;
	text-align:center;
}
.author{
	text-align:left;
	color:#777777;
}
.book-library>img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
